<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shzx.user.entity.UserInfo">
   
   <select id="selectByUname" resultType="userInfo" parameterType="java.lang.String">
   		SELECT 
  			ID,USERNAME,PASSWORD,REALNAME,TELEPHONE
  			FROM USER_INFO
  		WHERE USERNAME = #{userName,jdbcType=VARCHAR}	
   </select>
    
    <select id="selectUserInfoByPage" resultType="userInfo" parameterType="map">
    	SELECT 
  			ID,USERNAME,PASSWORD,REALNAME,TELEPHONE
  			FROM USER_INFO
  		<where>
  			<if test="userName != null and userName != ''">
  				USERNAME = #{userName,jdbcType=VARCHAR}
  			</if>
  			<if test="realName != null and realName != ''">
  				AND REALNAME = #{realName,jdbcType=VARCHAR}
  			</if>
  		</where>	
  		LIMIT #{page},#{pageSize}
    </select>
    
	    <select id="selectUserInfoCount" resultType="java.lang.Long" parameterType="map">
		SELECT COUNT(*)
		FROM USER_INFO
		<where>
  			<if test="userName != null and userName != ''">
  				USERNAME = #{userName,jdbcType=VARCHAR}
  			</if>
  			<if test="realName != null and realName != ''">
  				AND REALNAME = #{realName,jdbcType=VARCHAR}
  			</if>
  		</where>	
    </select>
    
    <insert id="insertUserInfo" parameterType="userInfo">
    	INSERT INTO USER_INFO(
    		ID,
    		USERNAME,
    		PASSWORD,
    		REALNAME,
    		TELEPHONE
    	)VALUES(
    		#{id,jdbcType=VARCHAR},
    		#{userName,jdbcType=VARCHAR},
    		#{password,jdbcType=VARCHAR},
    		#{realName,jdbcType=VARCHAR},
    		#{telephone,jdbcType=VARCHAR}
    	)
    </insert>
    
    <delete id="deleteUserInfoById" parameterType="java.lang.String">
		DELETE FROM USER_INFO
			WHERE ID = #{id,jdbcType=VARCHAR}
    </delete>
    
	<update id="updateUserInfo" parameterType="userInfo">
		update USER_INFO set 
		<if test="password != null and password != ''">
			PASSWORD = #{password,jdbcType=VARCHAR},
		</if>
		<if test="telephone != null and telephone != ''">
			TELEPHONE = #{telephone,jdbcType=VARCHAR},
		</if>
		<if test="realName != null and realName != ''">
			REALNAME = #{realName,jdbcType=VARCHAR} 
		</if>
			WHERE ID = #{id,jdbcType=VARCHAR}
	</update>
    
</mapper>