<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shzx.func.entity.FuncGroup">
   
   <select id="selectFuncGroupById" resultType="funcGroup" parameterType="java.lang.String">
   		SELECT 
  			ID,GROUPNAME,GROUPURL,GROUPSORT,FUNCID
  			FROM FUNC_GROUP
  		WHERE ID = #{id,jdbcType=VARCHAR}	
   </select>
   
    <select id="selectFuncGroupByFuncId" resultType="funcGroup" parameterType="java.lang.String">
   		SELECT 
  			ID,GROUPNAME,GROUPURL,GROUPSORT,FUNCID
  			FROM FUNC_GROUP
  		WHERE FUNCID = #{funcId,jdbcType=VARCHAR}	
   </select>
   
</mapper>