<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shzx.func.entity.FuncItem">
   
   <select id="selectFuncItemById" resultType="funcItem" parameterType="java.lang.String">
   		SELECT 
  			ID,FUNCNAME,FUNCSORT
  			FROM FUNC_ITEM
  		WHERE ID = #{id,jdbcType=VARCHAR}	
   </select>
    
</mapper>