div.sdmenu {
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	color: #066;
}
div.sdmenu div {
/* 	background: url(images/title.gif) repeat-x; */
	background:#dae7e6;
	overflow: hidden;
}
div.sdmenu div:first-child {
/* 	background: url(images/title.gif) repeat-x; */
	background:#dae7e6;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 20px;
	font-weight: bold;
	color: #066;
	background: url(images/expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(images/collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #F0F0F0;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #066;
	text-decoration:none;
}
div.sdmenu div a.current {
	background : #ffffff;
}
div.sdmenu div a:hover {
	background : #066;
	color: #fff;
	text-decoration: none;
}